<%- include ('templates/head', {title: 'en index' }) %>

    <body>
        <%- include('templates/navbar') %>
            <h1>
                <%= title %>
            </h1>
            <br />
            <form action="/register" method="post" class="mb-3">
                <div class="mb-3">
                    <label for="names" class="form-label">Names</label>`
                    <input type="text" class="form-control" id="names" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" />
                </div>

                <div class="mb-3">
                    <label for="rol" class="form-label">Select Rol</label>
                    <select class="form-select" aria-label="Default select example" id="rol">
                    
                        <option value="admin">Admin</option>
                        <option value="dataEntry">Data Entry</option>
                        
                    </select>
                    
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <%- include('templates/footer') %>