<footer>
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Felix Puello</h5>
            <p class="card-text">feliXpuello311@gmail.com</p>
            <a href="/" class="btn btn-primary">home</a>
        </div>

    </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>